:root {
    --color-primary: #3F88C5;
    --color-secondary: #E0E0E0;
    --color-button: #1D5D9B;
    --color-button-hover: #103D66;
    --color-text: #1A1A1A;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-secondary);
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 26px;
    color: var(--color-text);
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
}

button {
    background-color: var(--color-button);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-button-hover);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: var(--color-primary);
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #28a745;
}

.main-content img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção original */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}